.rgb-card {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .rgb-container {
    width: 40vw;
    height: 40vh;
    background-color: #1d1d1d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
